<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ uid }}'s AWESOME profile</title>
		<link rel="stylesheet" type="text/css" href="/static/base.css" />
	</head>
	<body>
		<h1>{{ uid }}</h1>

		<form action="/change" method="post" enctype="multipart/form-data">
			<fieldset>
				<legend>Theme Songs</legend>
				<ol>
					<a href="{{ uid }}/random"><span style="font-weight:bold">Random song</span></a>
					<p></p> <!-- empty p tag for lazy spacing -->
					{% for mp3 in mp3s %}
					<li>
						<a href="/{{ uid }}/{{ loop.index }}"><span style="font-weight:bold">{{mp3[1]}}</span></a>&nbsp;
						<a href="{{mp3[0]}}">(download)</a><br/>
						<label for="mp3_{{loop.index}}">change it:</label>
						<input type="file" id="theme_{{loop.index}}" name="theme_{{loop.index}}"/>
					</li>
					{% endfor %}
				</ol>
				<br/>
				<label for="add">Add</label>
				<input type="file" id="new_theme" name="new_theme" />
			</fieldset>
			<br/>
			<input type="hidden" id="uid" name="uid" value="{{ uid }}"/>
			<button type="submit">Save Changes</button>
		</form>
	</body>
</html>
